CxfMavenSsl/WebContent/WEB-INF/wsdl/BookRepo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BookRepoService" targetNamespace="http://ws.ex.mz/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.ex.mz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://ws.ex.mz/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://ws.ex.mz/" version="1.0">

  <xs:element name="getBook" type="tns:getBook"/>

  <xs:element name="getBookResponse" type="tns:getBookResponse"/>

  <xs:complexType name="getBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="bookRequest" type="tns:bookRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bookRequest">
    <xs:sequence>
      <xs:element name="isbn" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBookResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="bookResponse" type="tns:bookResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bookResponse">
    <xs:sequence>
      <xs:element name="isbn" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getBook">
    <wsdl:part name="parameters" element="tns:getBook">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBookResponse">
    <wsdl:part name="parameters" element="tns:getBookResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BookRepo">
    <wsdl:operation name="getBook">
      <wsdl:input name="getBook" message="tns:getBook">
    </wsdl:input>
      <wsdl:output name="getBookResponse" message="tns:getBookResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookRepoServiceSoapBinding" type="tns:BookRepo">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBook">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookRepoService">
    <wsdl:port name="BookRepoPort" binding="tns:BookRepoServiceSoapBinding">
      <soap:address location="https://localhost:8443/CxfMavenSsl-0.0.1/services/BookRepo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
